.LoginForm {
  display: flex;
  flex-direction: column;
  width: 400px;
 
  h2{
    margin-bottom: var(--app-margin);
  }
  .RegisterBtn {
    margin-top: 0.8em;
  }
  p{
    span {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

input {
  margin-top: 0.8em;
  height: 32px;
  width: 100%;
}
