.app_light_theme {
  --bg-color: #a0c49d;
  --inverted-bg-color: #f9b572;
  --primary-color: #2e2f2d;
  --inverted-primary-color: #f4ce14;
  --secondary-color: #aac8a7;
  --inverted-secondary-color: #a4bc92;
}
