.Navbar {
  background-color: var(--inverted-bg-color);
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.login_icon {
  stroke: var(--primary-color);
  height: var(--font-size-l);
  width: var(--font-size-l);
  padding: var(--app-margin);
}
