.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--secondary-color);
  position: relative;
  transition: width 0.3s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.arrow {
  stroke: var(--primary-color);
  height: var(--font-size-xl);
  width: var(--font-size-xl);
  padding: var(--app-margin);
}
